:root {
  --brand-100: rgba(35, 207, 244, 1);
  --brand-200: rgba(255, 190, 11, 1);
  --primarydark-900: rgba(0, 0, 0, 1);
  --primarydark-800: rgba(17, 17, 17, 1);
  --primarydark-700: rgba(35, 35, 35, 1);
  --primarydark-600: rgba(52, 52, 52, 1);
  --primarydark-500: rgba(70, 70, 70, 1);
  --primarydark-400: rgba(87, 87, 87, 1);
  --primarydark-300: rgba(105, 105, 105, 1);
  --primarydark-200: rgba(122, 122, 122, 1);
  --primarydark-100: rgba(153, 153, 152, 1);
  --primarydark-10: rgba(185, 185, 185, 1);
  --primarydark-0: rgba(241, 241, 241, 1);
  --primarybusiness-90: rgba(3, 4, 94, 1);
  --primarybusiness-80: rgba(2, 62, 138, 1);
  --primarybusiness-70: rgba(0, 119, 182, 1);
  --primarybusiness-60: rgba(0, 150, 199, 1);
  --primarybusiness-50: rgba(0, 180, 216, 1);
  --primarybusiness-40: rgba(72, 202, 228, 1);
  --primarybusiness-30: rgba(144, 224, 239, 1);
  --primarybusiness-20: rgba(173, 232, 244, 1);
  --primarybusiness-10: rgba(202, 240, 248, 1);
  --primaryorange-10: rgba(255, 72, 0, 1);
  --primaryorange-20: rgba(255, 84, 0, 1);
  --primaryorange-30: rgba(255, 96, 0, 1);
  --primaryorange-40: rgba(255, 109, 0, 1);
  --primaryorange-50: rgba(255, 121, 0, 1);
  --primaryorange-60: rgba(255, 133, 0, 1);
  --primaryorange-70: rgba(255, 145, 0, 1);
  --primaryorange-80: rgba(255, 158, 0, 1);
  --primaryorange-90: rgba(255, 170, 0, 1);
  --primaryorange-100: rgba(255, 182, 0, 1);
  --primarygreen-100: rgba(0, 75, 35, 1);
  --primarygreen-200: rgba(0, 100, 0, 1);
  --primarygreen-300: rgba(0, 114, 0, 1);
  --primarygreen-400: rgba(0, 128, 0, 1);
  --primarygreen-500: rgba(56, 176, 0, 1);
  --primarygreen-600: rgba(112, 224, 0, 1);
  --primarygreen-700: rgba(158, 240, 26, 1);
  --primarygreen-800: rgba(204, 255, 51, 1);
  --primarycold-10: rgba(8, 28, 21, 1);
  --primarycold-20: rgba(27, 67, 50, 1);
  --primarycold-30: rgba(45, 106, 79, 1);
  --primarycold-40: rgba(64, 145, 108, 1);
  --primarycold-50: rgba(82, 183, 136, 1);
  --primarycold-60: rgba(116, 198, 157, 1);
  --primarycold-70: rgba(149, 213, 178, 1);
  --primarycold-80: rgba(183, 228, 199, 1);
  --primarycold-90: rgba(216, 243, 220, 1);
  --primarywarm-10: rgba(106, 4, 15, 1);
  --primarywarm-20: rgba(157, 2, 8, 1);
  --primarywarm-30: rgba(208, 0, 0, 1);
  --primarywarm-40: rgba(220, 47, 2, 1);
  --primarywarm-50: rgba(232, 93, 4, 1);
  --primarywarm-60: rgba(244, 140, 6, 1);
  --primarywarm-70: rgba(250, 163, 7, 1);
  --primarywarm-80: rgba(255, 186, 8, 1);
  --headline-1000-font-family: "Roboto-SemiBold", Helvetica;
  --headline-1000-font-weight: 600;
  --headline-1000-font-size: 70px;
  --headline-1000-letter-spacing: 2.8px;
  --headline-1000-line-height: 150%;
  --headline-1000-font-style: normal;
  --headline-900-font-family: "Roboto-SemiBold", Helvetica;
  --headline-900-font-weight: 600;
  --headline-900-font-size: 68px;
  --headline-900-letter-spacing: 2.72px;
  --headline-900-line-height: 150%;
  --headline-900-font-style: normal;
  --headline-800-font-family: "Roboto-SemiBold", Helvetica;
  --headline-800-font-weight: 600;
  --headline-800-font-size: 44px;
  --headline-800-letter-spacing: 1.76px;
  --headline-800-line-height: 150%;
  --headline-800-font-style: normal;
  --headline-700-font-family: "Roboto-Medium", Helvetica;
  --headline-700-font-weight: 500;
  --headline-700-font-size: 24px;
  --headline-700-letter-spacing: 0.96px;
  --headline-700-line-height: 150%;
  --headline-700-font-style: normal;
  --headline-600-font-family: "Roboto-Bold", Helvetica;
  --headline-600-font-weight: 700;
  --headline-600-font-size: 20px;
  --headline-600-letter-spacing: 0.8px;
  --headline-600-line-height: 200%;
  --headline-600-font-style: normal;
  --headline-500-font-family: "Roboto-Medium", Helvetica;
  --headline-500-font-weight: 500;
  --headline-500-font-size: 18px;
  --headline-500-letter-spacing: 0.72px;
  --headline-500-line-height: 200%;
  --headline-500-font-style: normal;
  --headline-400-font-family: "Roboto-Medium", Helvetica;
  --headline-400-font-weight: 500;
  --headline-400-font-size: 17px;
  --headline-400-letter-spacing: 0.68px;
  --headline-400-line-height: 150%;
  --headline-400-font-style: normal;
  --main-text-900-font-family: "Roboto-Regular", Helvetica;
  --main-text-900-font-weight: 400;
  --main-text-900-font-size: 22px;
  --main-text-900-letter-spacing: 0.88px;
  --main-text-900-line-height: 200%;
  --main-text-900-font-style: normal;
  --main-text-800-font-family: "Roboto-Regular", Helvetica;
  --main-text-800-font-weight: 400;
  --main-text-800-font-size: 20px;
  --main-text-800-letter-spacing: 0.8px;
  --main-text-800-line-height: 200%;
  --main-text-800-font-style: normal;
  --main-text-700-font-family: "Roboto-Light", Helvetica;
  --main-text-700-font-weight: 300;
  --main-text-700-font-size: 18px;
  --main-text-700-letter-spacing: 0.72px;
  --main-text-700-line-height: 200%;
  --main-text-700-font-style: normal;
  --main-text-600-font-family: "Roboto-Regular", Helvetica;
  --main-text-600-font-weight: 400;
  --main-text-600-font-size: 16px;
  --main-text-600-letter-spacing: 0.64px;
  --main-text-600-line-height: 200%;
  --main-text-600-font-style: normal;
  --main-text-500-font-family: "Roboto-Regular", Helvetica;
  --main-text-500-font-weight: 400;
  --main-text-500-font-size: 12px;
  --main-text-500-letter-spacing: 0.48px;
  --main-text-500-line-height: 200%;
  --main-text-500-font-style: normal;
  --shadow-calm-shadow-mood: 0px 3.306964874267578px 3.3177642822265625px 0px rgba(0, 0, 0, 0.02),
    0px 6.993660926818848px 8.205988883972168px 0px rgba(0, 0, 0, 0.04),
    0px 11.88980770111084px 16.439990997314453px 0px rgba(0, 0, 0, 0.05),
    10px 20.717979431152344px 33.619361877441406px 0px rgba(0, 0, 0, 0.07), 10px 51px 94px 0px rgba(0, 0, 0, 0.11);
}
